- add_page_specific_style 'page_bundles/ci_status'

- breadcrumb_title @runner.short_sha
- page_title "##{@runner.id} (#{@runner.short_sha})"
- add_to_breadcrumbs _('Runners'), admin_runners_path

#js-runner-details{ data: {runner_id: @runner.id} }

.row
  .col-md-6
    %h4= _('Restrict projects for this runner')
    - if @runner.projects.any?
      %table.table{ data: { testid: 'assigned-projects' } }
        %thead
          %tr
            %th= _('Assigned projects')
        - @runner.runner_projects.each do |runner_project|
          - project = runner_project.project
          - if project
            %tr
              %td
                .gl-alert.gl-alert-danger
                  .gl-alert-container
                    = sprite_icon('error', size: 16, css_class: 'gl-icon gl-alert-icon gl-alert-icon-no-title')
                    .gl-alert-content
                      .gl-alert-body
                        %strong
                          = project.full_name
                      .gl-alert-actions
                        = link_to s_('Disable'), admin_namespace_project_runner_project_path(project.namespace, project, runner_project), method: :delete, class: 'btn gl-alert-action btn-confirm btn-md gl-button'

    %table.table{ data: { testid: 'unassigned-projects' } }
      %thead
        %tr
          %th= _('Project')
          %th

      %tr
        %td
          = form_tag admin_runner_path(@runner), id: 'runner-projects-search', class: 'form-inline', method: :get do
            .input-group
              = search_field_tag :search, params[:search], class: 'form-control gl-form-input', spellcheck: false
              .input-group-append
                = submit_tag _('Search'), class: 'gl-button btn btn-default'

        %td
      - @projects.each do |project|
        %tr
          %td
            = project.full_name
          %td
            .float-right
              = form_for project.runner_projects.new, url: admin_namespace_project_runner_projects_path(project.namespace, project), method: :post do |f|
                = f.hidden_field :runner_id, value: @runner.id
                = f.submit _('Enable'), class: 'gl-button btn btn-sm'
    = paginate_without_count @projects

  .col-md-6
    %h4= _('Recent jobs served by this runner')
    %table.table.ci-table.runner-builds
      %thead
        %tr
          %th= _('Job')
          %th= _('Status')
          %th= _('Project')
          %th= _('Commit')
          %th= _('Finished at')

      - @builds.each do |build|
        - project = build.project
        %tr.build
          %td.id
            - if project
              = link_to project_job_path(project, build) do
                %strong ##{build.id}
            - else
              %strong ##{build.id}

          %td.status
            = render 'ci/status/badge', status: build.detailed_status(current_user)

          %td.status
            - if project
              = project.full_name

          %td.build-link
            - if project
              = link_to pipeline_path(build.pipeline) do
                %strong= build.pipeline.short_sha

          %td.timestamp
            - if build.finished_at
              %span= time_ago_with_tooltip build.finished_at
